.box_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
    & .form_info {
      
      & .form_title {
        font-size: 20px;
        line-height: 20px;
        color: #ffffff;
        text-align: center;
        padding: 10px 0;
      }
      & .form_footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__help{
          & .phone{
            & *{
              cursor: pointer;
            }
            & .icon{
              
            }
            & .value{
              color: #FFFFFF;
            }
          }
          & .call{
            & button{
              font-size: 15px;
              line-height: 17px;
              color: #F1C86E;
              border: none;
              background: none;
              position: relative;
              &:before{
                position: absolute;
                height: 1px;
                content: '';
                width: 100%;
                background: #F1C86E;
                bottom: -5px;
                left: 50%;
                transform: translate(-50%,0);
                opacity: .2;
              }
            }
          }
        }
      }
    }
    & .sections{
      & iframe{
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }
  
  
  
  @media (max-width: 840px) {
    .box_info{
      grid-template-columns: 1fr;
      & iframe{
        min-height: 450px;
      }
      & .box_info_form{
        max-width: 450px;
        margin: 0 auto;
      }
    }
  }
  @media (max-width: 400px) {
    .box_info{
      & .form_footer{
        flex-direction: column-reverse;
        align-items: baseline !important;
      }
      & .form_footer__control{
        margin: 15px 0;
        width: 100%;
        & .btn{
          width: 100%;
        }
      }
      
    }
  }
  