{% load i18n %}
{% load static %}

        <div class="body-overflow">
          <div class="container my-50">
            <div class="description_wraper">
              <div class="description_category">
                <div class="categories">
                  <a class="categorie__item">
                      <img src={% static "/source/img/category/tuintafel-80-80-met-2-stoelen-mariotto_1 1.png" %} alt="">
                  
                      <div class="categorie__item_text"><span>{% trans "Архітектурне освітлення" %}</div>
                  </a>
                  <a class="categorie__item ">
                      <img src={% static "/source/img/category/tuintafel-80-80-met-2-stoelen-mariotto_1 1-1.png" %} alt="">
                      
                      <div class="categorie__item_text"><span>{% trans "Вуличне освітлення" %}</div>
                  </a>
                  <a class="categorie__item">
                      <img src={% static "/source/img/category/tuintafel-80-80-met-2-stoelen-mariotto_1 1-2.png" %} alt="">
                      <div class="categorie__item_text"><span>{% trans "Ландшафтне освітлення" %}</div>
                  </a>
                  <a class="categorie__item">
                      <img src={% static "/source/img/category/tuintafel-80-80-met-2-stoelen-mariotto_1 1-3.png" %} alt="">
                      
                      <div class="categorie__item_text"><span>{% trans "Інтерєрне освітлення" %}</div>
                  </a>
              </div>
              </div>
              <div class="description_info">
                <div class="subtitle">{% trans "Наша" %}</div>
                <div class="title"><span>{% trans "Наголовна мета" %}</div>
                <div class="description_info_box">
                  <p> – {% trans "втілити у життя всі побажання клієнта, його ідеї та бачення проекту задля отримання безкомпромісно якісного продукту та неперевершеного результату" %}</p>
                  <div class="description_info_img">
                    <img src={% static "/source/img/about/philosofi_light.png" %} alt="" srcset="">
                  </div>
                  <a href="#" class="btn btn-yellow">{% trans "Обговорити проект" %}</a>
                </div>
              </div>
            </div>
            </div>
        </div>