{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <title>{% block title %} MainPage{% endblock %}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href={% static "/source/lib/slick/slick.min.css" %}>
    <link rel="stylesheet" href={% static "/source/pages//main/index.css" %} />
    <link rel="stylesheet" href={% static "/source/pages/main/index.css.map" %} />
  </head>
      <main class="">
      <div class="main_background "></div>
      <div class="slider_hero__box my-50">
   
    {% include "includes/mainpage/lighting.html" %}

    {% include "includes/mainpage/bestoffer.html" %}

    {% include "includes/mainpage/items.html" %}

    {% include "includes/mainpage/ourproject.html" %}

    {% include "includes/mainpage/poslugy.html" %} 

    {% include "includes/mainpage/mainobjective.html" %}  

    {% include "includes/mainpage/ourbrand.html" %}  

    <script src={% static "/source/lib//jquery/index.js" %}></script>
    <script src={% static "/source/lib/slick/slick.js" %}></script> 
    <script src={% static "/source/lib/maskinput/maskinput.js" %}></script> 
    <script src={% static "/source/lib/validation/validation.min.js" %}></script> 
    <script src={% static "/source/pages/main/index.js.map" %}></script>
    <script src={% static "/source/pages/main/index.js" %}></script>

{% endblock %}