{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<title>{% block title %} Portfolio{% endblock %}</title>
{% block styles%}
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/source/lib/slick/slick.min.css">
    <link rel="stylesheet" href="/static/source/lib/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/static/source/pages/portfolio/index.css" />
    <link rel="stylesheet" href="/static/source/pages/portfolio/index.css.map" />
{% endblock styles%}

    <main class="overflow-y">
      <div class="main_background "></div>
        <div class="container">
            <div class="breadcrumbs">
                <a class="breadcrumbs_item">
                </a>
                <div  class="breadcrumbs_item active">
                  <div class="separaror">/</div>
                </div>
               </div>
            </div>
        </div>
     
       {% include "includes/portfolio/port.html" %}
{% endblock %}
{% block scripts %}
    <script src="/static/source/lib/jquery/index.js"></script>
    <script src="/static/source/lib/slick/slick.min.js"></script> 
    <script src="/static/source/lib/fancybox/jquery.fancybox.min.js" ></script>
    <script src="/static/source/pages/portfolio/index.js.map"></script>
    <script src="/static/source/pages/portfolio/index.js" ></script>
{% endblock scripts %}

