{% load i18n %}
{% load static %}

<div class="container my-50">
            <div class="services__descriptions">
              <div class="services__descriptions_title"><span>{% trans "Ви подаєте нам ідею" %}</span>,  {% trans "а ми втілюємо її – все просто!" %}</div>
              <div class="services__descriptions_box">
                <div class="services__descriptions_img">
                  <img src="/static/source/img/services/main_img.png" alt="" srcset="">
                </div>
                <div class="services__descriptions_text">
                  <p>{% trans "Дивлячись на креслення, плани, схеми, неможливо точно уявити собі практичний підсумок роботи, але ми вміємо вдало візуалізувати весь процес так, щоб Ви могли мати найточніше уявлення кінцевого результату. За допомогою сучасних програмних засобів, які ми використовуємо, Ви зможете побачити точну модель проекту, який Ви замовили. Якщо Ви захочете щось змінити – ми це зробимо одразу на ваших очах! І не потрібно буде довго очікувати на правки." %}
                  </p>
                  <p>{% trans "До речі, зміни, які будуть вноситися до макету, безкоштовні. Ми вважаємо, що краще втілити всі побажання клієнта ще до того, як розпочнеться монтаж. Задоволений замовник – дуже цінна винагорода. " %}
                  </p>
                </div>
              </div>
            </div>
        </div>
