{% load i18n %}
{% load static %}

<div class="container my-50">
  <div class="container_title"> {% trans "Ми співпрацюємо з світовими брендами, такими як " %}</span></div>
  <div class="container_box">
    <div class="we_cooperate">
      <div class="we_cooperate_item">
        <img src="/static/source/img/main_page/we_cooperate/logo_1.svg"  alt=""> 
      </div>
      <div class="we_cooperate_item">
        <img src="/static/source/img/main_page/we_cooperate/logo_2.svg" alt=""> 
      </div>
      <div class="we_cooperate_item">
        <img src="/static/source/img/main_page/we_cooperate/logo_3.svg" alt=""> 
      </div>
      <div class="we_cooperate_item">
        <img src="/static/source/img/main_page/we_cooperate/logo_4.svg" alt=""> 
      </div>
      <div class="we_cooperate_item">
        <img src="/static/source/img/main_page/we_cooperate/logo_5.svg" alt=""> 
      </div>
       
    </div>
  </div>
</div>