{% load i18n %}
{% load static %}

<div class="container my-50">
  <div class="container_title">{% trans "Ми надаємо послуги <span>проектування та візуалізації:" %}</span></div>
  <div class="container_box">
    <div class="our__services">
      <div class="our__services_item">
        <img src={% static "/source/img/main_page/our_services/icon.svg" %} alt="">
        <div class="descriptions"><span>{% trans "внутрішнього" %}</span>{% trans " освітлення" %}</div>
      </div>
      <div class="our__services_item">
        <img src={% static "/source/img/main_page/our_services/icon2.svg" %} alt="">
        <div class="descriptions"><span>{% trans "внутрішнього" %}</span> {% trans "освітлення" %}</div>
      </div>
      <div class="our__services_item">
        <img src={% static "/source/img/main_page/our_services/icon3.svg" %} alt="">
        <div class="descriptions"><span>{% trans "внутрішнього" %}</span> {% trans "освітлення" %}</div>
      </div>
      <div class="our__services_item">
        <img src={% static "/source/img/main_page/our_services/icon4.svg" %} alt="">
        <div class="descriptions"><span>{% trans "внутрішнього" %}</span> {% trans "освітлення" %}</div>
      </div>
    </div>
  </div>
</div>
